:root {
    --content-width: 1200px;
    --indigo: #42029c;
    --marigold: #fcc602;
    --offwhite: #f9f9f9;
    --black: #000000;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--black);
}

h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 42px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: var(--black);
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    background-color: var(--offwhite);
}

#contact-display-toggle {
    z-index: 99;
    cursor: pointer;
}

#contact-display-toggle #contact-display-toggle-text {
    color: #000;
    font-size: 24px;
    z-index: 99;
}

#contact-display-toggle.active #contact-display-toggle-text {
    transform: rotate(45deg);
    font-size: 60px;
    transition: transform 0.2s;
}

#full-page-contact-display {
    display: none;
    position: fixed;
    top: 120px;
    /*left: calc(calc(100vw - var(--content-width))/2);*/
    z-index: 89;
    color: #fff;
    /*width: var(--content-width);*/
    width: 100%;
    height: calc(100% - 120px);
    text-align: center;
}

#full-page-contact-display.active {
    display: block;
    background-color: #42039c;
    padding-top: 30vh;
}

#full-page-contact-display h1 {
    font-size: 80px;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
}

#full-page-contact-display a:link,
#full-page-contact-display a:visited,
#full-page-contact-display a:hover,
#full-page-contact-display a:active {
    font-size: 36px;
    font-family: 'Arvo', serif;
    color: #fff;
}

.navbar-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: var(--content-width);
    height: 120px;
    background-color: var(--offwhite);
    margin-left: auto;
    margin-right: auto;
    z-index: 90;
    padding-left: 47px;
    padding-right: 47px;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 308px;
    height: 36px;
    flex-grow: 1;
}

.navbar-logo img {
    height: 36px;
    font-family: Arvo, serif;
}

.menu {
    width: 65px;
    height: 19px;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--indigo);
}

.content {
    width: var(--content-width);
    padding: 47px;
    margin-left: auto;
    margin-right: auto;
}

.title-area {
    margin-top: 150px;
    margin-bottom: max(calc(100vh - 700px), 60px);
}

.title-area-title {
    font-family: "Fira Sans", sans-serif;
    font-size: 72px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 24px;
}

.title-area-subtitle {
    font-family: "Fira Sans", sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 1.1;
    color: var(--black);
}

.section-1-area {
    margin-bottom: 76px; /* 100px - card bottom margin (24px) */
}

.section-1-title {
    max-width: 450px;
    font-family: Arvo, serif;
    font-size: 32px;
    text-align: center;
    color: var(--indigo);
    margin: 0 auto 30px;
}

.section-1-content {
    padding: 0;
}

.card-container {
    width: 290px;
    height: 150px;
    border-radius: 2px;
    border: solid 1px var(--indigo);
    margin-bottom: 24px;
    box-sizing: content-box;
}

.card-content {
    width: 100%;
    height: 100%;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.section-2-area {
    margin-bottom: 100px;
    width: 610px;
}

.section-2-title {
    font-family: Arvo, serif;
    font-size: 32px;
    color: var(--indigo);
    margin-bottom: 30px;
}

.section-2-content {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: var(--black);
}

.section-3-area {
    font-family: Arvo, serif;
    font-size: 32px;
    line-height: 1.13;
    color: var(--indigo);
    margin-bottom: 30px;
}

.section-3-content {
    width: 610px;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.section-4-title {
    font-family: "Fira Sans", sans-serif;
    font-size: 60px;
    height: 60px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 10px;
}

.section-4-email {
    height: 24px;
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: var(--black);
}

.section-4-email a:link,
.section-4-email a:hover,
.section-4-email a:visited,
.section-4-email a:active {
    color: var(--black);
}

footer {
    width: var(--content-width);
    margin-top: 13px; /* 60px - .content padding (47px) */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    padding: 0 47px;
}

.footer-copyright {
    width: 149px;
    height: 14px;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: var(--black);
    margin-right: 0;
    margin-left: auto;
}

@media (max-width: 1199px) {
    :root {
        --content-width: 100%;
    }

    .content {
        padding: 15px;
    }

    .title-area {
        margin-top: 106px;
    }

    .title-area-title {
        font-size: 48px;
    }

    .title-area-subtitle {
        font-size: 30px;
        line-height: 1.17;
    }

    .section-2-area, .section-3-content {
        width: 100%;
    }

    .section-1-area {
        margin-bottom: 40px; /* 50px - card bottom margin (10px) */
    }

    .section-1-title {
        width: 100%;
        margin-bottom: 10px;
    }

    .card-container {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .card-content {
        font-size: 16px;
        padding: 10px;
    }

    .section-2-area {
        margin-bottom: 30px;
    }

    .section-2-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .section-2-content {
        font-size: 16px;
    }

    .section-3-area {
        margin-bottom: 50px;
    }

    .section-3-content {
        text-align: center;
    }

    .section-1-title,
    .section-2-title,
    .section-3-content,
    .section-4-email {
        font-size: 20px;
    }

    .section-4-title {
        font-size: 36px;
        height: auto;
        margin-bottom: 0;
    }

    footer {
        padding: 0 15px;
    }

    .footer-copyright {
        font-size: 12px;
    }

    #full-page-contact-display h1 {
        font-size: 36px;
        color: #fff;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #full-page-contact-display a:link,
    #full-page-contact-display a:visited,
    #full-page-contact-display a:hover,
    #full-page-contact-display a:active {
        font-size: 20px;
        font-family: 'Arvo', serif;
        color: #fff;
    }
}
